
html, body { height: 100%; margin: 0; padding: 0; }

#map { height: 100%; width: 100%; }

.gm-style-iw{
    width: 300px !important;
}

ul {
  list-style: none;
}

@media screen and (max-width: 700px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .title {
  padding-left: 50px;
  }
  .row-fluid {
    word-wrap: break-word;
}
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
  }

  .row-offcanvas-left.active {
    left: 50%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 12px;
  }
}